<a id="printlight_indicator" class="pull-right off" title="Toggle Light" href="#" data-bind="click: function() { $root.toggleLight(); }, visible: (isLightOn() !== undefined)" style="display: none">
	<i class="far fa-lightbulb"></i>
</a>
